<nav class="navbar">
    <div class="navbar-brand">Shoppie Mall</div>
    <div class="navbar-menu">
      <button class="navbar-item"><i class="fas fa-home"></i></button>
      <button class="navbar-item">About Us</button>
      <button class="navbar-item">Contact</button>
      <button routerLink="login" class="navbar-item">Sign In</button>
      <button routerLink="register" class="navbar-item">Sign Up</button>
    </div>
   
    <div class="navbar-right">
      <div class="search-container">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search">
        <i class="fas fa-search search-icon" (click)="handlesearch()"></i>
      </div>
      <i class="fas fa-heart"></i>
      <i class="fas fa-shopping-cart"></i>
    </div>
  </nav>
  