<div class="analytics">

<div class="chartsp" >

<div class="chart-cardp">
<div class="chart-headerp">
<p> Products Distribution</p>
</div>
<div class="chart-contentp">
<div class="chart-containerp">
  <canvas baseChart
  [datasets]="productData"
  [labels]="productLabels"
  [type] = "'pie'"
  [options]="chartOptions">
 
</canvas>
</div>
</div>
</div>



<div class="chart-card">
  <div class="chart-header">
    <p>Customers Growth</p>
  </div>

  <div class="chart-content">
    <div class="chart-container">
  <canvas baseChart
  [datasets]="productData"
  [labels]="productLabels"
  [type] = "'line'"
  [options]="chartOptions"> 
</canvas>
    </div>
  </div>
</div>









<!-- <div class="summary-cards">   
  <div style="display: block;">
    <canvas baseChart
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="chartLegend"
      
      [plugins]="chartPlugins">
    </canvas>
  </div> -->


  
    <!-- <div class="card1">
      
    </div>
    <div class="card">
      
    </div>
    <div class="card1">
      
    </div> -->
  </div>
  <!-- [chartType]="chartType" -->